/* 自定义样式，可覆盖默认的样式，默认样式变量如下 */
/* [https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css] */

// 优化搜索框的样式
// 屏幕宽度大于768px
@media (min-width: 768px) {
  .VPNav {
    .VPNavBarSearch {
      height: 40px;
      padding: 0 10px 0 12px;
      border-radius: 8px;
      background-color: var(--vp-c-bg-alt);
    }
    .DocSearch-Button-Placeholder {
      margin-top: 2px;
      color: var(--vp-c-text-1);
    }
    .DocSearch-Button-Keys {
      margin-top:3px;
      border: 1px solid var(--vp-c-divider);
      border-radius: 4px;
      color: var(--vp-c-text-1);;
      display: block
    }
  }
}

// 屏幕宽度小于768px
@media (max-width: 768px) {
  .VPNav {
    .DocSearch-Button {
      margin-right: -16px;
    }
    .DocSearch-Button-Keys {
      display: none;
    }
  }
}
